#.NET Core
project.lock.json
project.fragment.lock.json
artifacts/
#config stuff
appsettings.json
appsettings.Development.json
appsettings.Production.json
appsettings.*.json
secrets.json
#build artifacts        
bin/
obj/
node_modules/
#Logs
*.log